<ion-view title="Elecciones La Rioja 2019" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LDzPEkbSViAojf3fQYF3_Imageninicioprincipal.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="eleccionesLaRioja2019-list2">
      <ion-item class="item-avatar dark" id="eleccionesLaRioja2019-list-item8" ui-sref="iNNOVALaRioja.page2()">
        <img src="img/gKwDFcNlQOyBIZCgZvP8_donde.png">
        <h2dark>¿Dónde votamos?</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="eleccionesLaRioja2019-list-item7" ui-sref="iNNOVALaRioja.QuElegimos()">
        <img src="img/NSn2ndoQMuc7Z6EKo0tw_quevotamos2.png">
        <h2dark>¿Qué elegimos?</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="eleccionesLaRioja2019-list-item41" ui-sref="iNNOVALaRioja.page22()">
        <img src="img/Hvqbc7WxRzy9RzECHxCt_quedebosaber.png">
        <h2dark>¿Qué debemos saber?</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="eleccionesLaRioja2019-list-item16" ui-sref="iNNOVALaRioja.page3()">
        <img src="img/s6vFKMJFQAeVUOpnzEUC_acerca.png">
        <h2dark>Acerca de iNNOVA La Rioja</h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
