<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-assertive">
      <div class="title">iNNOVA La Rioja</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <div>
        <img src="img/Dahunf8nQnaNJ5gAEANZ_ImagenMenudesplegable.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="iNNOVALaRioja-list1">
        <ion-item class="item-avatar positive" id="iNNOVALaRioja-list-item1" ui-sref="iNNOVALaRioja.eleccionesLaRioja2019()" menu-close="">
          <img src="img/7gCa7qriRc6hqDpByjBB_icono.png">
          <h2positive>Inicio</h2positive>
        </ion-item>
        <ion-item class="item-avatar positive" id="iNNOVALaRioja-list-item2" ui-sref="iNNOVALaRioja.page2()" menu-close="">
          <img src="img/xNUbY2fLThKn1sBLYdDd_donde.png">
          <h2positive>¿Dónde votamos?</h2positive>
        </ion-item>
        <ion-item class="item-avatar positive" id="iNNOVALaRioja-list-item12" ui-sref="iNNOVALaRioja.QuElegimos()" menu-close="">
          <img src="img/3bMyRZo7QaCG3udnBUCP_quevotamos2.png">
          <h2positive>¿Qué elegimos?</h2positive>
        </ion-item>
        <ion-item class="item-avatar positive" id="iNNOVALaRioja-list-item15" ui-sref="iNNOVALaRioja.page22()" menu-close="">
          <img src="img/N1SisP5NTS2qvekvxOMC_quedebosaber.png">
          <h2positive>¿Qué debemos saber?</h2positive>
        </ion-item>
        <ion-item class="item-avatar positive" id="iNNOVALaRioja-list-item3" ui-sref="iNNOVALaRioja.page3()" menu-close="">
          <img src="img/SHLZAQuRRYSoGEXi2D4u_acerca.png">
          <h2positive>Acerca de iNNOVA La Rioja</h2positive>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
