<ion-view title="" id="page3">
  <ion-content padding="true" class="has-header">
    <p>
      <span style="color: #ff0000;">
        <strong>iNNOVA </strong>
      </span>es un espacio abierto que reúne a profesionales, estudiantes, emprendedores, líderes comunitarios y vecinos de La Rioja. Debatimos, difundimos ideas y generamos proyectos con una mirada práctica que nos sirvan para intervenir en una agenda pública
      y gubernamental de nuestra ciudad y provincia.&nbsp;Nuestros principios ponen el foco en la necesidad de una mirada estratégica de los asuntos públicos basada en la transparencia, la sustentabilidad y la capacidad de respuesta del Estado y sus intervenciones
      de política pública.&nbsp;</p>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="page3-list3">
      <ion-item class="item-avatar" id="page3-list-item26" href-inappbrowser="https://api.whatsapp.com/send?phone=543804715177">
        <img src="img/aE4MbBPTNivdbyZBcHQZ_580b57fcd9996e24bc43c543.png">
        <h2>WhatsApp</h2>
        <p style="white-space:normal;">3804715177</p>
      </ion-item>
      <ion-item class="item-avatar" id="page3-list-item27" href-inappbrowser="mailto:innovalarioja@gmail.com">
        <img src="img/Kw1k447DQJiybEkCwob4_gmail-logo-png-transparent-background-8.png">
        <h2>Correo Electrónico</h2>
        <p>innovalarioja@gmail.com</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8AGMogRgSiiqYlg8YRMI_WhatsAppImage2018-10-05at12.14.28.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>