<ion-view title="¿Qué elegimos?" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="QuElegimos-list4">
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item14" ui-sref="iNNOVALaRioja.page6()">
        <i class="icon ion-android-checkmark-circle"></i>Ángel Vicente Peñaloza
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item17" ui-sref="iNNOVALaRioja.page7()">
        <i class="icon ion-android-checkmark-circle"></i>Arauco
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item13" ui-sref="iNNOVALaRioja.page5()">
        <i class="icon ion-android-checkmark-circle"></i>Capital
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item18" ui-sref="iNNOVALaRioja.page8()">
        <i class="icon ion-android-checkmark-circle"></i>Castro Barros
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item19" ui-sref="iNNOVALaRioja.page9()">
        <i class="icon ion-android-checkmark-circle"></i>Chamical
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item20" ui-sref="iNNOVALaRioja.page10()">
        <i class="icon ion-android-checkmark-circle"></i>Chilecito
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item22" ui-sref="iNNOVALaRioja.page11()">
        <i class="icon ion-android-checkmark-circle"></i>Coronel Felipe Varela
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item21" ui-sref="iNNOVALaRioja.page12()">
        <i class="icon ion-android-checkmark-circle"></i>Famatina
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item23" ui-sref="iNNOVALaRioja.page13()">
        <i class="icon ion-android-checkmark-circle"></i>General Belgrano
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item24" ui-sref="iNNOVALaRioja.page14()">
        <i class="icon ion-android-checkmark-circle"></i>General Lamadrid
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item25" ui-sref="iNNOVALaRioja.page15()">
        <i class="icon ion-android-checkmark-circle"></i>General Juan F. Quiroga
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item28" ui-sref="iNNOVALaRioja.page16()">
        <i class="icon ion-android-checkmark-circle"></i>General Ortíz de Ocampo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item29" ui-sref="iNNOVALaRioja.page17()">
        <i class="icon ion-android-checkmark-circle"></i>General San Martín
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item30" ui-sref="iNNOVALaRioja.page18()">
        <i class="icon ion-android-checkmark-circle"></i>Independencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item31" ui-sref="iNNOVALaRioja.page19()">
        <i class="icon ion-android-checkmark-circle"></i>Rosario Vera Peñaloza
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item32" ui-sref="iNNOVALaRioja.page20()">
        <i class="icon ion-android-checkmark-circle"></i>Sanagasta
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item33" ui-sref="iNNOVALaRioja.page21()">
        <i class="icon ion-android-checkmark-circle"></i>San Blas de los Sauces
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="QuElegimos-list-item34" ui-sref="iNNOVALaRioja.page23()">
        <i class="icon ion-android-checkmark-circle"></i>Vinchina
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>